:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #3b1249;
    color: #f8f4f2;
}

section {
    margin-block: 2rem;
    margin-inline: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 2.2rem;
    text-transform: uppercase;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    margin-block: 4rem;
    margin-inline: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    border: 0.2rem solid #f3f3f3;
    border-radius: 0.5rem;
}

div.btn {
    margin-block: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

input#btn-submit,
input#btn-reset,
input#btn-back {
    width: 15rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #dacadd;
    color: #1a1a1a;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}